
    div[contenteditable="true"]:focus {
        outline: none;
        border: none;
    }
#pastes{
    border-radius: 10px;
    border: none;
    width: 80px;
   background: #f3f3f3;
   box-shadow: inset 20px 20px 60px #cfcfcf,
            inset -20px -20px 60px #ffffff;
            color: red;
}